rename file from terraform.tfvars.examaple to terraform.tfvars
aws_region = "us-east-1"#your prefered aws_region

cluster_name = "devops-gitops-eks"

vpc_cidr = "10.0.0.0/16" #vpc_cidr block range

private_subnets = [
  "10.0.1.0/24",
  "10.0.2.0/24"
] #your private subnet range

public_subnets = [
  "10.0.101.0/24",
  "10.0.102.0/24"
] #your public subnet range